* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a4bed5;
}

.calculatrice {
    background-color: #b5fde1;
    display: flex;
    flex-direction: column;
    border: inset 10px #26ea9f;
    border-radius: 10px;
    padding: 5px;
}

.ecran {
    width: 100%;
    height: 80px;
    background-color: #6196d3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    font-size: 25px;
    color: #0fff9d;
    border-radius: 10px;
}

.touches {

    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 5px;

}

.button {
    background-color: #ffc1c1;
    border-radius: 15px;
    font-size: 1.5em;
    color: #077a4a;
}

.button:hover {
    background-color: #fc8484;
    color: #0fff9d;
}

#egal {
    width: 100px;
}